<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pluviostudios.onetwothreelaunch"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".configManagerActivity.ConfigurationManagerActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".buttonsActivity.ButtonsActivity"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:name=".appearanceActivity.AppearanceActivity"/>

        <provider
            android:name=".database.DBContentProvider"
            android:authorities="com.pluviostudios.onetwothreelaunch.app"
            android:exported="false"
            android:syncable="true"/>

        <!-- 1x4 Widget BaseWidgetProvider -->
        <receiver
            android:name=".widget.SupportedWidgetSizes$Widget4x1Provider"
            android:label="123Launch x4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x1_info"/>
        </receiver>

        <!-- 1x5 Widget BaseWidgetProvider -->
        <receiver
            android:name=".widget.SupportedWidgetSizes$Widget5x1Provider"
            android:label="123Launch x5">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_5x1_info"/>
        </receiver>

        <receiver
            android:name=".widget.WidgetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="123LaunchIntent"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".action.OnPackageUninstall">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>

</manifest>