<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pluviostudios.dialin"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".configManagerActivity.ConfigurationManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".configActivity.ConfigurationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".database.DBContentProvider"
            android:authorities="com.pluviostudios.dialin.app"
            android:exported="false"
            android:syncable="true"/>

        <!-- 1x4 Widget BaseWidgetProvider -->
        <receiver
            android:name=".widget.SupportedWidgetSizes$Widget4x1Provider"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x1_info"/>
        </receiver>

        <!-- 1x5 Widget BaseWidgetProvider -->
        <receiver
            android:name=".widget.SupportedWidgetSizes$Widget5x1Provider"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_5x1_info"/>
        </receiver>

        <receiver
            android:name=".widget.WidgetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="123GoIntent"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>